NODEFLOW.txt
[{"id":"9d0b3e1f.e64ad","type":"switch","z":"d5544792.1e1058","name":"Is Value Even or Odd?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":438.4722366333008,"y":189.74999237060547,"wires":[["60916805.914ea"],["ead5cee7.ad4648"]]},{"id":"ead5cee7.ad4648","type":"template","z":"d5544792.1e1058","name":"LED OFF","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/311/0/5850\", \"new_value\":\"0\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"put\" }","x":681.1110763549805,"y":215.3055477142334,"wires":[["48e4b26d.7cb3e4","3300713f.f9db1e","5433db02.f2e7d4"]]},{"id":"60916805.914ea","type":"template","z":"d5544792.1e1058","name":"LED ON","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/311/0/5850\", \"new_value\":\"1\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"put\" }","x":680.8889083862305,"y":164.74999046325684,"wires":[["48e4b26d.7cb3e4","5433db02.f2e7d4"]]},{"id":"41483329.4a125c","type":"function","z":"d5544792.1e1058","name":"Even Value Calc","func":"var path = msg.path;\nif (path == \"/123/0/4567\") {\n    var check = Number(msg.value)/2;\n    var orig = parseInt(check);\n    var remainder = check - orig;\n    if (remainder !== 0) {\n        return {payload:1};\n    }\n    else { \n        return {payload:2};\n    }\n}\nelse {\n    return {payload:0}\n}","outputs":1,"noerr":0,"x":205,"y":227.08331775665283,"wires":[["ddd3df2c.4d94d8","9d0b3e1f.e64ad"]]},{"id":"ddd3df2c.4d94d8","type":"debug","z":"d5544792.1e1058","name":"","active":false,"console":"false","complete":"payload","x":404.86112213134766,"y":263.52776432037354,"wires":[]},{"id":"48e4b26d.7cb3e4","type":"debug","z":"d5544792.1e1058","name":"","active":false,"console":"false","complete":"false","x":958.3650512695312,"y":164.74998474121094,"wires":[]},{"id":"3300713f.f9db1e","type":"template","z":"d5544792.1e1058","name":"Request TEMP Resource","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/303/0/5700\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"get\" }","x":725.2222213745117,"y":277.74999046325684,"wires":[["621a5091.b98a18"]]},{"id":"4194bd36.8168ec","type":"debug","z":"d5544792.1e1058","name":"","active":false,"console":"false","complete":"value","x":961.3015747070312,"y":653.1944580078125,"wires":[]},{"id":"6cd1b40b.0ffeec","type":"function","z":"d5544792.1e1058","name":"Get Counter Value","func":"var path = msg.path;\nif (path == \"/123/0/4567\") {\n    var value = Number(msg.value);\n    return {payload:value}\n}\nreturn {payload:-1}","outputs":1,"noerr":0,"x":212.22222137451172,"y":345.7499942779541,"wires":[["c8d3fb14.075108","29b5277f.aba2d8","4b29b516.802d9c"]]},{"id":"c8d3fb14.075108","type":"switch","z":"d5544792.1e1058","name":"Is Value greater than 22?","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"22","vt":"num"}],"checkall":"true","outputs":1,"x":449.4722366333008,"y":442.49999618530273,"wires":[["65200ba0.5d13b4"]]},{"id":"65200ba0.5d13b4","type":"template","z":"d5544792.1e1058","name":"Reset Counter","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/123/0/4567\", \"new_value\":\"0\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"put\" }","x":697.2222213745117,"y":442.74999046325684,"wires":[["c546863a.a86a2"]]},{"id":"29b5277f.aba2d8","type":"switch","z":"d5544792.1e1058","name":"Is Value 10?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"10","vt":"num"}],"checkall":"true","outputs":1,"x":412.2222366333008,"y":395.9999952316284,"wires":[["3452a6fa.5c06fa"]]},{"id":"3452a6fa.5c06fa","type":"template","z":"d5544792.1e1058","name":"Add 10 to Counter","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/123/0/4567\", \"new_value\":\"10\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"post\" }","x":705.666618347168,"y":394.63890647888184,"wires":[["c546863a.a86a2"]]},{"id":"4b29b516.802d9c","type":"switch","z":"d5544792.1e1058","name":"Is Value 5?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"5","vt":"num"}],"checkall":"true","outputs":1,"x":408.9722328186035,"y":346.9999942779541,"wires":[["d420e4d9.2018f"]]},{"id":"d420e4d9.2018f","type":"template","z":"d5544792.1e1058","name":"Set Counter to 8","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/123/0/4567\", \"new_value\":\"8\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"put\" }","x":696.8889083862305,"y":345.86110496520996,"wires":[["c546863a.a86a2"]]},{"id":"a3616.6a81d1ea8","type":"template","z":"d5544792.1e1058","name":"DeRegister Device","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/86/0/1\", \"new_value\":\"arm1234\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"post\", \"options\":\"noResp=true\" }","x":708.2222213745117,"y":516.7499904632568,"wires":[["3c8a8457.3bf9c4"]]},{"id":"bf6ca164.cfd048","type":"template","z":"d5544792.1e1058","name":"Reboot Device","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/3/0/3\", \"new_value\":\"arm1234\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"post\", \"options\":\"noResp=true\" }","x":699.2222213745117,"y":557.7499904632568,"wires":[["29d2e2bb.06e2ee"]]},{"id":"32398ff9.48ee2","type":"template","z":"d5544792.1e1058","name":"Reset Device","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/3/0/5\", \"new_value\":\"arm1234\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"post\", \"options\":\"noResp=true\" }","x":690.2222213745117,"y":594.7499904632568,"wires":[["2a1fe920.231976"]]},{"id":"992fde99.d4fe2","type":"template","z":"d5544792.1e1058","name":"Invoke FOTA","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/5/0/2\", \"new_value\":\"arm1234\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"post\", \"options\":\"noResp=true\" }","x":791.2222442626953,"y":714.7500095367432,"wires":[["941286c9.0f92f8"]]},{"id":"686c215d.bc7a78","type":"switch","z":"d5544792.1e1058","name":"FOTA Manifest set Response?","property":"path","propertyType":"msg","rules":[{"t":"eq","v":"/5/0/1","vt":"str"}],"checkall":"true","outputs":1,"x":534.2222442626953,"y":714.7500095367432,"wires":[["992fde99.d4fe2"]]},{"id":"a3269a9e.b5d41","type":"template","z":"d5544792.1e1058","name":"Set FOTA Manifest","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{ \"path\":\"/5/0/1\", \"new_value\":\"{\\\"key\\\":\\\"123\\\",\\\"sig\\\":\\\"456\\\",\\\"image\\\":\\\"fw.bin\\\"}\", \"ep\":\"cc69e7c5-c24f-43cf-8365-8d23bb01c707\", \"coap_verb\":\"put\" }","x":707.2222213745117,"y":479.74999046325684,"wires":[["e14b3ded.5dc378"]]},{"id":"caae77ac.1cb45","type":"mqtt in","z":"d5544792.1e1058","name":"CoAP Notifications","topic":"mbed/notify/#","qos":"2","broker":"2a248ef7.9e3b2a","x":197.97223663330078,"y":66,"wires":[["5c474ca9.be92d4"]]},{"id":"5433db02.f2e7d4","type":"mqtt out","z":"d5544792.1e1058","name":"SetLight","topic":"mbed/request/mbed-endpoint/cc69e7c5-c24f-43cf-8365-8d23bb01c707/311/0/5850","qos":"","retain":"","broker":"2a248ef7.9e3b2a","x":949.9722290039062,"y":213.75,"wires":[]},{"id":"621a5091.b98a18","type":"mqtt out","z":"d5544792.1e1058","name":"RequestTemperature","topic":"mbed/request/mbed-endpoint/cc69e7c5-c24f-43cf-8365-8d23bb01c707/303/0/5700","qos":"","retain":"","broker":"2a248ef7.9e3b2a","x":987.9722290039062,"y":277.25,"wires":[]},{"id":"906c0a98.722468","type":"mqtt in","z":"d5544792.1e1058","name":"CoAP Responses","topic":"mbed/cmd-response/#","qos":"2","broker":"2a248ef7.9e3b2a","x":175.22222900390625,"y":653.7500095367432,"wires":[["f3cc52b2.22e598"]]},{"id":"c546863a.a86a2","type":"mqtt out","z":"d5544792.1e1058","name":"SetCounter","topic":"mbed/request/mbed-endpoint/cc69e7c5-c24f-43cf-8365-8d23bb01c707/123/0/4567","qos":"","retain":"","broker":"2a248ef7.9e3b2a","x":961.2222290039062,"y":344,"wires":[]},{"id":"e14b3ded.5dc378","type":"mqtt out","z":"d5544792.1e1058","name":"SetFOTAManifest","topic":"mbed/request/mbed-endpoint/cc69e7c5-c24f-43cf-8365-8d23bb01c707/5/0/1","qos":"","retain":"","broker":"2a248ef7.9e3b2a","x":980.2222290039062,"y":423.5,"wires":[]},{"id":"3c8a8457.3bf9c4","type":"mqtt out","z":"d5544792.1e1058","name":"DeregisterDevice","topic":"mbed/request/mbed-endpoint/cc69e7c5-c24f-43cf-8365-8d23bb01c707/86/0/1","qos":"","retain":"","broker":"2a248ef7.9e3b2a","x":978.2222290039062,"y":480.75,"wires":[]},{"id":"641feb98.95dfec","type":"debug","z":"d5544792.1e1058","name":"","active":true,"console":"false","complete":"value","x":953.7500076293945,"y":67.5,"wires":[]},{"id":"f3cc52b2.22e598","type":"function","z":"d5544792.1e1058","name":"Convert JSON String To JSON Object","func":"try {\n    return JSON.parse(msg.payload);\n}\ncatch (e) {\n}","outputs":1,"noerr":0,"x":516.0000152587891,"y":653.7500095367432,"wires":[["4194bd36.8168ec","686c215d.bc7a78"]]},{"id":"5c474ca9.be92d4","type":"function","z":"d5544792.1e1058","name":"Convert JSON String To JSON Object","func":"try {\n    return JSON.parse(msg.payload);\n}\ncatch (e) {\n}","outputs":1,"noerr":0,"x":573.5000076293945,"y":66.75,"wires":[["41483329.4a125c","6cd1b40b.0ffeec","641feb98.95dfec"]]},{"id":"941286c9.0f92f8","type":"mqtt out","z":"d5544792.1e1058","name":"InvokeFOTA","topic":"mbed/request/mbed-endpoint/cc69e7c5-c24f-43cf-8365-8d23bb01c707/5/0/2","qos":"","retain":"","broker":"2a248ef7.9e3b2a","x":962.0000076293945,"y":714.0000095367432,"wires":[]},{"id":"29d2e2bb.06e2ee","type":"mqtt out","z":"d5544792.1e1058","name":"RebootDevice","topic":"mbed/request/mbed-endpoint/cc69e7c5-c24f-43cf-8365-8d23bb01c707/3/0/3","qos":"","retain":"","broker":"2a248ef7.9e3b2a","x":968,"y":537,"wires":[]},{"id":"2a1fe920.231976","type":"mqtt out","z":"d5544792.1e1058","name":"ResetToFactoryDefault","topic":"mbed/request/mbed-endpoint/cc69e7c5-c24f-43cf-8365-8d23bb01c707/3/0/5","qos":"","retain":"","broker":"2a248ef7.9e3b2a","x":988,"y":591,"wires":[]},{"id":"2a248ef7.9e3b2a","type":"mqtt-broker","z":"d5544792.1e1058","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""}]
